<a href="https://colab.research.google.com/github/RichardFreedman/CRIM-Project-RF/blob/master/CRIM_Intervals_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load CRIM Intervals Software

In [12]:
import shutil 
from pathlib import Path
intervals = Path('intervals')
if intervals.exists():
    shutil.rmtree(intervals)
    !git clone https://github.com/HCDigitalScholarship/intervals.git
    !pip install httpx
else:
    !git clone https://github.com/HCDigitalScholarship/intervals.git
    !pip install httpx

Cloning into 'intervals'...
remote: Enumerating objects: 171, done.
remote: Counting objects: 100% (171/171), done.
remote: Compressing objects: 100% (129/129), done.
remote: Total 171 (delta 83), reused 113 (delta 39), pack-reused 0
Receiving objects: 100% (171/171), 67.65 KiB | 5.20 MiB/s, done.
Resolving deltas: 100% (83/83), done.
Requirement already satisfied: httpx in /usr/local/lib/python3.7/dist-packages (0.16.1)
Requirement already satisfied: httpcore==0.12.* in /usr/local/lib/python3.7/dist-packages (from httpx) (0.12.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx) (1.2.0)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx) (1.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx) (2020.12.5)
Requirement already satisfied: h11==0.* in /usr/local/lib/python3.7/dist-packages (from httpcore==0.12.*->httpx) (0.12.0)
Requirement already satisfied: idna; extra == "idna2008" in /usr/local/lib/python3.7/dist-packages (from rfc3986[idna2008]<2,>=1.3->httpx) (2.10)

In [13]:
from intervals.main_objs import *

## Start CRIM Intervals

## Load MEI Files from CRIM or Github by pasting one or more of [these links](https://docs.google.com/spreadsheets/d/1TzRqnzgcYYuQqZR78c5nizIsBWp4pnblm2wbU03uuSQ/edit?auth_email=rfreedma@haverford.edu#gid=0) below.

*Note:  each file must be in quotation marks and separated by commas

In [14]:
corpus = CorpusBase(['https://crimproject.org/mei/CRIM_Model_0008.mei', 'https://crimproject.org/mei/CRIM_Mass_0005_5.mei'])

Requesting file from https://crimproject.org/mei/CRIM_Model_0008.mei...
Successfully imported.
Requesting file from https://crimproject.org/mei/CRIM_Mass_0005_5.mei...
Successfully imported.

## Give the scores short names, in order according to the way they were listed above

In [15]:
model, mass = corpus.scores

## Now apply various methods to the scores:
* getNoteRest returns all the notes and rests, each voice as a column
* getDuration returns the durations for all notes and rests, as above
* getMelodic returns the melodic intervals in each voice as a column
* getHarmonic returns pairs of harmonic intervals between each pair of voices
* getNgrams  returns segments of various kinds, melodic (one voice) or modular (pairs of voices, including vertical and horizontal motion)




---

### For summary statistics:
* save results as variable, then:
`.apply(pd.Series.value_counts).fillna(0).astype(int) `


---

### Documentation available via this command:
* for any method, use the following read documentation:
`print(model.getNgrams.__doc__)`

---

In [ ]:
print(model.getMelodic.__doc__)

Return melodic intervals for all voice pairs. Each melodic interval
        is associated with the starting offset of the second note in the
        interval.

        :param str kind: use "d" for diatonic intervals without quality, "q"
            (default) for diatonic intervals with quality, or "s" for semitonal
            intervals. Only the first character is used, and it's case
            insensitive.
        :param bool directed: defaults to True which shows that the voice that
            is lower on the staff is a higher pitch than the voice that is
            higher on the staff. This is desginated with a "-" prefix.
        :param bool compound: whether to use compound (True, default) or simple
            (False) intervals. In the case of simple diatonic intervals, it
            simplifies to within the octave, so octaves don't get simplified to
            unisons. But for semitonal intervals, an interval of an octave
            (12 semitones) would does get simplified to a unison (0).
        :returns: `pandas.DataFrame` of melodic intervals in each part

# Notes and Rests

In [16]:
notes = model.getNoteRest()
notes.fillna(value= "-", inplace=True)
notes.reset_index()

      index [Superius] Altus Tenor Bassus
0       0.0         G4  Rest  Rest   Rest
1       4.0         C5     -     -      -
2       8.0          -  Rest  Rest   Rest
3      12.0         C5     -     -      -
4      16.0         D5    G3  Rest   Rest
..      ...        ...   ...   ...    ...
553  1256.0          -     -    D4     G3
554  1268.0         C5    G4     -      -
555  1272.0          -     -    C4     C3
556  1284.0         C5    G4     -      -
557  1288.0          -     -    C4     C3

[558 rows x 5 columns]

In [17]:
notes.value_counts()
# notes.stack().value_counts()

[Superius]  Altus  Tenor  Bassus
-           C4     -      -         23
C5          -      -      -         17
-           E4     -      -         16
B4          -      -      -         15
-           D4     -      -         14
                                    ..
D5          -      F4     D3         1
                   D4     -          1
                   B3     -          1
                   A3     F3         1
C5          A3     Rest   C3         1
Length: 281, dtype: int64

In [18]:
df = notes.apply(pd.Series.value_counts).fillna(0).astype(int)
df

      [Superius]  Altus  Tenor  Bassus
-            271    216    279     284
A2             0      0      0       4
A3             0     21     12      18
A4            23     10      4       0
B-2            0      0      0       1
B-3            0      0      0       2
B2             0      0      0       4
B3             0     28     27       4
B4            41      1      0       0
C3             0      0      0      45
C4             1     60     62      12
C5            62      0      0       0
D3             0      0      0      14
D4             1     37     44       2
D5            38      0      0       0
E3             0      0      0      27
E4             4     42     33       0
E5            31      0      0       0
F3             0      2      0      36
F4             3     30     19       0
F5             4      0      0       0
G2             0      0      0       3
G3             0     20     15      49
G4            31     46     17       0
Rest          48     45     46      53

# Melodic Intervals
* kind='d' for diatonic; 's' for chromatic/semitone
* To save as CSV:  
`mel_int.to_csv('file_name.csv')`

In [19]:
mel_int = mass.getMelodic(kind='d')
mel_int.fillna(value= "-", inplace=True)
mel_int
# mel_int.apply(pd.Series.value_counts).fillna(0).astype(int)

# voice = mel_int.iloc[:, 0]
# voice

      Sup[erius] Altus Tenor Bassus
0.0            -  Rest  Rest   Rest
4.0            4     -     -      -
8.0            -  Rest  Rest   Rest
12.0           1     -     -      -
16.0           2     -  Rest   Rest
...          ...   ...   ...    ...
706.0          1    -2     -      -
707.0          -    -2     -      -
708.0          -     2     -      -
710.0         -2     -     -      -
712.0          2    -2  Rest   Rest

[391 rows x 4 columns]

# Durations

In [8]:
durs = mass.getDuration()
durs.fillna(value= "-", inplace=True)
d =  durs.stack().value_counts()

## Combine Notes and Durations as One DataFrame

In [9]:
notes_durs = pd.concat([notes, durs], axis=1)
notes_durs

       [Superius] Altus Tenor Bassus Sup[erius] Altus Tenor Bassus
0.0            G4  Rest  Rest   Rest          4     8     8      8
4.0            C5     -     -      -          8     -     -      -
8.0             -  Rest  Rest   Rest          -     8     8      8
12.0           C5     -     -      -          4     -     -      -
16.0           D5    G3  Rest   Rest          4     4     8      8
...           ...   ...   ...    ...        ...   ...   ...    ...
1256.0          -     -    D4     G3        NaN   NaN   NaN    NaN
1268.0         C5    G4     -      -        NaN   NaN   NaN    NaN
1272.0          -     -    C4     C3        NaN   NaN   NaN    NaN
1284.0         C5    G4     -      -        NaN   NaN   NaN    NaN
1288.0          -     -    C4     C3        NaN   NaN   NaN    NaN

[701 rows x 8 columns]

# Select Columns for One Voice

In [10]:
notes_durs_s = notes_durs.iloc[:, [0,4]]
notes_durs_s

       [Superius] Sup[erius]
0.0            G4          4
4.0            C5          8
8.0             -          -
12.0           C5          4
16.0           D5          4
...           ...        ...
1256.0          -        NaN
1268.0         C5        NaN
1272.0          -        NaN
1284.0         C5        NaN
1288.0          -        NaN

[701 rows x 2 columns]

## N-Grams
* for Melodic or Durations

In [11]:
mel = model.getMelodic()
model.getNgrams(df=mel, n=3)

NameError: ignored

# Two-Voice Modules as N-Grams

In [ ]:
modules = model.getNgrams(how='modules', cell_type=str)
mod = modules.iloc[:, 0:6]
# mod.apply(pd.Series.value_counts).fillna(0).astype(int)

                      Bassus_Tenor  ...  Altus_[Superius]
-2_2, -3_2, -5                   0  ...                 0
-2_2, -3_Held, -2                0  ...                 0
-2_2, -3_Held, -3                0  ...                 0
-2_2, 3_Held, 3                  0  ...                 0
-2_Held, -3_Held, -3             0  ...                 0
...                            ...  ...               ...
9_Held, 8_Held, 8                0  ...                 0
9_Held, 9_Held, 10               0  ...                 0
9_Rest, 10_Held, 9               2  ...                 0
9_Rest, 8_Held, 6                0  ...                 0
9_Rest, 8_Held, 8                1  ...                 0

[965 rows x 6 columns]