<a href="https://colab.research.google.com/github/RichardFreedman/CRIM-Project-RF/blob/master/CRIM_Intervals_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
!git clone https://github.com/HCDigitalScholarship/intervals.git
!pip install httpx

fatal: destination path 'intervals' already exists and is not an empty directory.
Requirement already satisfied: httpx in /usr/local/lib/python3.7/dist-packages (0.17.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx) (2020.12.5)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx) (1.4.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx) (1.2.0)
Requirement already satisfied: httpcore<0.13,>=0.12.1 in /usr/local/lib/python3.7/dist-packages (from httpx) (0.12.3)
Requirement already satisfied: idna; extra == "idna2008" in /usr/local/lib/python3.7/dist-packages (from rfc3986[idna2008]<2,>=1.3->httpx) (2.10)
Requirement already satisfied: h11==0.* in /usr/local/lib/python3.7/dist-packages (from httpcore<0.13,>=0.12.1->httpx) (0.12.0)

In [57]:
from intervals.main_objs import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations
import numpy as np
from fractions import Fraction

In [58]:
corpus = CorpusBase(['https://crimproject.org/mei/CRIM_Model_0008.mei', 'https://crimproject.org/mei/CRIM_Mass_0005_5.mei'])

Memoized piece detected...
Memoized piece detected...

In [59]:
model, mass = corpus.scores

In [60]:
notes = model.getNoteRest()
notes.fillna(value= "-", inplace=True)
notes.head()

     [Superius] Altus Tenor Bassus
0.0          G4  Rest  Rest   Rest
4.0          C5     -     -      -
8.0           -  Rest  Rest   Rest
12.0         C5     -     -      -
16.0         D5    G3  Rest   Rest

In [61]:
durs = model.getDuration()
durs.fillna(value= "-", inplace=True)
durs.head()

     [Superius] Altus Tenor Bassus
0.0           4     8     8      8
4.0           8     -     -      -
8.0           -     8     8      8
12.0          4     -     -      -
16.0          4     4     8      8

In [62]:
notes_durs = pd.concat([notes, durs], axis=1)
notes_durs

       [Superius] Altus Tenor Bassus [Superius] Altus Tenor Bassus
0.0            G4  Rest  Rest   Rest          4     8     8      8
4.0            C5     -     -      -          8     -     -      -
8.0             -  Rest  Rest   Rest          -     8     8      8
12.0           C5     -     -      -          4     -     -      -
16.0           D5    G3  Rest   Rest          4     4     8      8
...           ...   ...   ...    ...        ...   ...   ...    ...
1256.0          -     -    D4     G3          -     -    16     16
1268.0         C5    G4     -      -         16    16     -      -
1272.0          -     -    C4     C3          -     -    16     16
1284.0         C5    G4     -      -         16    16     -      -
1288.0          -     -    C4     C3          -     -    16     16

[558 rows x 8 columns]

In [63]:
mel = model.getMelodic(kind='s')
mel.fillna(value= "-", inplace=True)
mel.head(10)

     [Superius] Altus Tenor Bassus
0.0           -  Rest  Rest   Rest
4.0           5     -     -      -
8.0           -  Rest  Rest   Rest
12.0          0     -     -      -
16.0          2     -  Rest   Rest
20.0          2     5     -      -
24.0         -4     -  Rest   Rest
28.0          -     0     -      -
32.0       Rest     2     -   Rest
36.0          -     2     5      -

In [70]:
ngram_model = model.getNgrams(how='modules')
ngram_model.head()

                 Bassus_Tenor  ...         Altus_[Superius]
16.0                      NaN  ...  (12, Held, 10, Rest, 8)
20.0                      NaN  ...   (10, Rest, 8, Held, 8)
32.0                      NaN  ...                      NaN
36.0                      NaN  ...                      NaN
48.0  (12, Held, 10, Held, 8)  ...                      NaN

[5 rows x 21 columns]