<a href="https://colab.research.google.com/github/RichardFreedman/CRIM-Project-RF/blob/master/CRIM_Intervals_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/HCDigitalScholarship/intervals.git
!pip install httpx

Cloning into 'intervals'...
remote: Enumerating objects: 159, done.
remote: Counting objects: 100% (159/159), done.
remote: Compressing objects: 100% (121/121), done.
remote: Total 159 (delta 75), reused 105 (delta 35), pack-reused 0
Receiving objects: 100% (159/159), 63.54 KiB | 2.54 MiB/s, done.
Resolving deltas: 100% (75/75), done.
Collecting httpx
  Downloading https://files.pythonhosted.org/packages/6f/87/241b482701ba3d58831a4af50bf2880259dc7c11a89504a3b0d70fa298cd/httpx-0.17.1-py3-none-any.whl (68kB)
     |████████████████████████████████| 71kB 3.6MB/s
Collecting httpcore<0.13,>=0.12.1
  Downloading https://files.pythonhosted.org/packages/50/ce/544244e2145075896d38f7db3e822c24d1be9f7966ed3d83f158e388d195/httpcore-0.12.3-py3-none-any.whl (55kB)
     |████████████████████████████████| 61kB 4.7MB/s
Collecting rfc3986[idna2008]<2,>=1.3
  Downloading https://files.pythonhosted.org/packages/78/be/7b8b99fd74ff5684225f50dd0e865393d2265656ef3b4ba9eaaaffe622b8/rfc3986-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx) (2020.12.5)
Collecting sniffio
  Downloading https://files.pythonhosted.org/packages/52/b0/7b2e028b63d092804b6794595871f936aafa5e9322dcaaad50ebf67445b3/sniffio-1.2.0-py3-none-any.whl
Collecting h11==0.*
  Downloading https://files.pythonhosted.org/packages/60/0f/7a0eeea938eaf61074f29fed9717f2010e8d0e0905d36b38d3275a1e4622/h11-0.12.0-py3-none-any.whl (54kB)
     |████████████████████████████████| 61kB 5.0MB/s
Requirement already satisfied: idna; extra == "idna2008" in /usr/local/lib/python3.7/dist-packages (from rfc3986[idna2008]<2,>=1.3->httpx) (2.10)
Installing collected packages: sniffio, h11, httpcore, rfc3986, httpx
Successfully installed h11-0.12.0 httpcore-0.12.3 httpx-0.17.1 rfc3986-1.4.0 sniffio-1.2.0

In [2]:
from intervals.main_objs import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations
import numpy as np
from fractions import Fraction

In [3]:
corpus = CorpusBase(['https://crimproject.org/mei/CRIM_Model_0008.mei', 'https://crimproject.org/mei/CRIM_Mass_0005_5.mei'])

Requesting file from https://crimproject.org/mei/CRIM_Model_0008.mei...
Successfully imported.
Requesting file from https://crimproject.org/mei/CRIM_Mass_0005_5.mei...
Successfully imported.

In [25]:
model, mass = corpus.scores

In [38]:
notes = model.getNoteRest()
notes.fillna(value= "-", inplace=True)
notes.head()

     [Superius] Altus Tenor Bassus
0.0          G4  Rest  Rest   Rest
4.0          C5     -     -      -
8.0           -  Rest  Rest   Rest
12.0         C5     -     -      -
16.0         D5    G3  Rest   Rest

In [40]:
durs = model.getDuration()
durs.fillna(value= "-", inplace=True)
durs.head()

     [Superius] Altus Tenor Bassus
0.0           4     8     8      8
4.0           8     -     -      -
8.0           -     8     8      8
12.0          4     -     -      -
16.0          4     4     8      8

In [45]:
notes_durs = pd.concat([notes, durs], axis=1)
notes_durs

       [Superius] Altus Tenor Bassus [Superius] Altus Tenor Bassus
0.0            G4  Rest  Rest   Rest          4     8     8      8
4.0            C5     -     -      -          8     -     -      -
8.0             -  Rest  Rest   Rest          -     8     8      8
12.0           C5     -     -      -          4     -     -      -
16.0           D5    G3  Rest   Rest          4     4     8      8
...           ...   ...   ...    ...        ...   ...   ...    ...
1256.0          -     -    D4     G3          -     -    16     16
1268.0         C5    G4     -      -         16    16     -      -
1272.0          -     -    C4     C3          -     -    16     16
1284.0         C5    G4     -      -         16    16     -      -
1288.0          -     -    C4     C3          -     -    16     16

[558 rows x 8 columns]

In [27]:
mel = model.getMelodic()
mel.fillna(value= "-", inplace=True)
mel.head(10)

     [Superius] Altus Tenor Bassus
0.0           -  Rest  Rest   Rest
4.0          P4     -     -      -
8.0           -  Rest  Rest   Rest
12.0         P1     -     -      -
16.0         M2     -  Rest   Rest
20.0         M2    P4     -      -
24.0        -M3     -  Rest   Rest
28.0          -    P1     -      -
32.0       Rest    M2     -   Rest
36.0          -    M2    P4      -

In [32]:
ngram_model = model.getNgrams(df=mel, n=5)
ngram_model.head(50)

                   [Superius]  ...               Bassus
0.0          -, P4, -, P1, M2  ...                  NaN
4.0         P4, -, P1, M2, M2  ...                  NaN
8.0        -, P1, M2, M2, -M3  ...                  NaN
12.0       P1, M2, M2, -M3, -  ...                  NaN
16.0                      NaN  ...                  NaN
20.0                      NaN  ...                  NaN
24.0                      NaN  ...                  NaN
28.0                      NaN  ...                  NaN
32.0                      NaN  ...                  NaN
36.0                      NaN  ...                  NaN
40.0                      NaN  ...                  NaN
44.0                      NaN  ...      -, -, P4, -, P1
48.0                      NaN  ...      -, P4, -, P1, -
52.0        -, -, -, -m2, -M2  ...     P4, -, P1, -, M2
56.0      -, -, -m2, -M2, -M2  ...     -, P1, -, M2, M2
60.0     -, -m2, -M2, -M2, M2  ...   P1, -, M2, M2, -M3
62.0   -m2, -M2, -M2, M2, -M2  ...    -, M2, M2, -M3, -
64.0    -M2, -M2, M2, -M2, P4  ...    M2, M2, -M3, -, -
68.0      -M2, M2, -M2, P4, -  ...     M2, -M3, -, -, -
72.0        M2, -M2, P4, -, -  ...                  NaN
74.0       -M2, P4, -, -, -m2  ...                  NaN
76.0       P4, -, -, -m2, -M2  ...                  NaN
78.0       -, -, -m2, -M2, M2  ...                  NaN
80.0      -, -m2, -M2, M2, m2  ...                  NaN
82.0      -m2, -M2, M2, m2, -  ...                  NaN
83.0        -M2, M2, m2, -, -  ...                  NaN
84.0          M2, m2, -, -, -  ...                  NaN
88.0                      NaN  ...                  NaN
91.0                      NaN  ...                  NaN
92.0                      NaN  ...                  NaN
94.0                      NaN  ...                  NaN
96.0                      NaN  ...                  NaN
98.0                      NaN  ...        -, -, -, -, -
99.0                      NaN  ...        -, -, -, -, -
100.0                     NaN  ...      -, -, -, -, -m2
104.0                     NaN  ...    -, -, -, -m2, -M2
106.0                     NaN  ...    -, -, -m2, -M2, -
108.0                     NaN  ...    -, -m2, -M2, -, -
110.0                     NaN  ...  -m2, -M2, -, -, -M2
112.0                     NaN  ...   -M2, -, -, -M2, M2
114.0                     NaN  ...    -, -, -M2, M2, M2
115.0                     NaN  ...   -, -M2, M2, M2, m2
116.0                     NaN  ...   -M2, M2, M2, m2, -
120.0                     NaN  ...     M2, M2, m2, -, -
126.0        -, -, P1, P1, M2  ...                  NaN
128.0       -, P1, P1, M2, M2  ...                  NaN
130.0     P1, P1, M2, M2, -M3  ...                  NaN
132.0      P1, M2, M2, -M3, -  ...                  NaN
136.0     M2, M2, -M3, -, -m2  ...                  NaN
140.0    M2, -M3, -, -m2, -M2  ...                  NaN

[50 rows x 4 columns]