<a href="https://colab.research.google.com/github/RichardFreedman/CRIM-Project-RF/blob/master/CRIM_Intervals_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load CRIM Intervals Software

In [1]:
!git clone https://github.com/HCDigitalScholarship/intervals.git
!pip install httpx

fatal: destination path 'intervals' already exists and is not an empty directory.
Requirement already satisfied: httpx in /usr/local/lib/python3.7/dist-packages (0.17.1)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx) (1.4.0)
Requirement already satisfied: httpcore<0.13,>=0.12.1 in /usr/local/lib/python3.7/dist-packages (from httpx) (0.12.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx) (1.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx) (2020.12.5)
Requirement already satisfied: idna; extra == "idna2008" in /usr/local/lib/python3.7/dist-packages (from rfc3986[idna2008]<2,>=1.3->httpx) (2.10)
Requirement already satisfied: h11==0.* in /usr/local/lib/python3.7/dist-packages (from httpcore<0.13,>=0.12.1->httpx) (0.12.0)

## Start CRIM Intervals

In [2]:
from intervals.main_objs import *

## Load MEI Files from CRIM or Github by pasting one or more of [these links](https://docs.google.com/spreadsheets/d/1TzRqnzgcYYuQqZR78c5nizIsBWp4pnblm2wbU03uuSQ/edit?auth_email=rfreedma@haverford.edu#gid=0)below.

*Note:  each file must be in quotation marks and separated by commas

In [3]:
corpus = CorpusBase(['https://crimproject.org/mei/CRIM_Model_0008.mei', 'https://crimproject.org/mei/CRIM_Mass_0005_5.mei'])

Requesting file from https://crimproject.org/mei/CRIM_Model_0008.mei...
Successfully imported.
Requesting file from https://crimproject.org/mei/CRIM_Mass_0005_5.mei...
Successfully imported.

## Give the scores short names, in order according to the way they were listed above

In [4]:
model, mass = corpus.scores

## Now apply various methods to the scores:
* getNoteRest returns all the notes and rests, each voice as a column
* getDuration returns the durations for all notes and rests, as above
* getMelodic returns the melodic intervals in each voice as a column
* getHarmonic returns pairs of harmonic intervals between each pair of voices
* getNgrams  returns segments of various kinds, melodic (one voice) or modular (pairs of voices, including vertical and horizontal motion)




---

## Documentation available via this command:

print(model.getNgrams.__doc__)

---

In [5]:
print(model.getMelodic.__doc__)

Return melodic intervals for all voice pairs. Each melodic interval
        is associated with the starting offset of the second note in the
        interval.

        :param str kind: use "d" for diatonic intervals without quality, "q"
            (default) for diatonic intervals with quality, or "s" for semitonal
            intervals. Only the first character is used, and it's case
            insensitive.
        :param bool directed: defaults to True which shows that the voice that
            is lower on the staff is a higher pitch than the voice that is
            higher on the staff. This is desginated with a "-" prefix.
        :param bool compound: whether to use compound (True, default) or simple
            (False) intervals. In the case of simple diatonic intervals, it
            simplifies to within the octave, so octaves don't get simplified to
            unisons. But for semitonal intervals, an interval of an octave
            (12 semitones) would does get simplified to a unison (0).
        :returns: `pandas.DataFrame` of melodic intervals in each part

In [6]:
notes = mass.getNoteRest()
notes.fillna(value= "-", inplace=True)
notes.head()

     Sup[erius] Altus Tenor Bassus
0.0          G4  Rest  Rest   Rest
4.0          C5     -     -      -
8.0           -  Rest  Rest   Rest
12.0         C5     -     -      -
16.0         D5    G3  Rest   Rest

In [9]:
notes.stack().value_counts()

-       828
Rest    152
E4       57
C5       54
G4       54
C4       49
F4       49
D5       48
D4       47
G3       36
B3       33
E5       33
A3       31
A4       31
B4       30
F3       17
E3       14
F5       13
C3       11
D3        9
G5        3
B-3       1
dtype: int64

In [10]:
notes.apply(pd.Series.value_counts).fillna(0).astype(int)

      Sup[erius]  Altus  Tenor  Bassus
-            164    166    255     243
A3             0      5      9      17
A4            18     12      1       0
B-3            0      0      0       1
B3             0     10     14       9
B4            29      1      0       0
C3             0      0      0      11
C4             0     26     20       3
C5            54      0      0       0
D3             0      0      0       9
D4             0     33     14       0
D5            48      0      0       0
E3             0      0      0      14
E4             0     44     13       0
E5            33      0      0       0
F3             0      0      0      17
F4             1     41      7       0
F5            13      0      0       0
G3             0      6      8      22
G4            17     34      3       0
G5             3      0      0       0
Rest          20     22     56      54

In [ ]:
mel = mass.getMelodic(kind='d')
mel.fillna(value= "-", inplace=True)
mel.head(10)

In [ ]:
durs = mass.getDuration()
durs.fillna(value= "-", inplace=True)
durs.head()

In [ ]:
notes_durs = pd.concat([notes, durs], axis=1)
notes_durs

In [ ]:
mel = model.getMelodic()
model.getNgrams(df=mel, n=7)

In [ ]:
modules = model.getNgrams(how='modules', cell_type=str)
modules.iloc[:, 0:6]